/*Шапка*/
body{
  font-family: 'Montserrat', sans-serif;
}
.art {
  
  text-align: center;
  
}

.img_logo{
   /* max-width: 60%;*/
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 275px;
    
    
}
.header{
  background-color: #F9F9F9;
  
  margin-top: 0;
}

.container {
  display: grid;
  
  
  
  grid-gap: 10px;
  margin-left: 20%;
  margin-right: 26%;
  grid-template-areas: 
                       "a1 a2 a3"
                       ; 
}



.txt_a {
    display: block;
    height: 30px;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
    padding: 13px 12px 13px;

}
.txt_a:hover{
  font-weight: 700;
  color: #4D3BFE;
  background-color: #F2F2F2;
}
.art.first { grid-area: a1; }
.art.second { grid-area: a2; }
.art.third { grid-area: a3; }




/*конец шапки*/

/*Страницы оглавления*/
.title_c{
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin-top: 40px;
  
}
.content{
  max-width: 930px;
  margin: 0 auto;
  
}

.des_title{
  font-weight: normal;
  font-size: 18px;
}

.link_k{
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 25;
  text-decoration: underline;
  text-decoration-color: #4D3BFE;

}
.link_k:hover{
  color: #4D3BFE;
}
.p_1{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.p_1_1{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #000;
  text-decoration-color: #4D3BFE;
}
.p_1_1:hover{
  color: #4D3BFE;
}
.p_2{
  font-size: 27px;
  font-weight: 700;
  text-align: center;
}







@media screen and (max-width: 900px){
  .img_logo{
    /* max-width: 60%;*/
     margin-top: 5px;
     margin-bottom: 5px;
     max-width: 200px;
     
     
 }
}



@media screen and (max-width: 500px) {
  .content{
    margin-left: 1vh;
    margin-right: 1vh;
  }
.img_logo{
    max-width: 80%;
}

.content{
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
  
.container {
    
    margin: 0 auto;
    margin-right: 20px;
    margin-left: 20px;
  grid-template-areas: 
                       "a1"
                       "a2"
                       "a3"
                       ;
}
}

/*@media only screen and (max-width: 600px) {
.img_logo{
    max-width: 80%;
}

.content{
  margin-left: 1vh;
  margin-right: 1vh;
}
  
.container {
    
    margin: 0 auto;
    margin-right: 20px;
    margin-left: 20px;
  grid-template-areas: 
                       "a1"
                       "a2"
                       "a3"
                       ;
}
}*/