/*Шапка*/
body{
  font-family: 'Montserrat', sans-serif;
}
.art {
  
  text-align: center;
  
}

.img_logo{
   /* max-width: 60%;*/
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 275px;
    
    
}
.header{
  background-color: #F9F9F9;
  
  margin-top: 0;
}

.container {
  display: grid;
  
  
  
  grid-gap: 10px;
  margin-left: 20%;
  margin-right: 26%;
  grid-template-areas: 
                       "a1 a2 a3"
                       ; 
}



.txt_a {
    display: block;
    height: 30px;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
    padding: 13px 12px 13px;

}
.txt_a:hover{
  /*font-weight: 700;*/
  color: #4D3BFE;
  background-color: #F2F2F2;
}
.art.first { grid-area: a1; }
.art.second { grid-area: a2; }
.art.third { grid-area: a3; }




/*конец шапки*/

/*Страницы оглавления*/
.yout_2{
  
  display: none;
}

.title_c{
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin-top: 40px;
  
}
.content{
  max-width: 930px;
  margin: 0 auto;
  
}

.t{
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
}

.ul_t{
  line-height: 1.6;
  font-size: 18px;

}

.ist{
  color: #666699;
  font-size: 15px;
  text-decoration-line: underline;
  
  text-align: right;
  display: block;
}

.sp_t{
  font-weight: 700;
  font-size: 22px;
}

.link_k{
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 25;
  text-decoration: underline;
  text-decoration-color: #4D3BFE;

}
.link_k:hover{
  color: #4D3BFE;
}
.p_1{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.p_1_1{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #000;
  text-decoration-color: #4D3BFE;
}
.p_1_1:hover{
  color: #4D3BFE;
}
.p_2{
  font-size: 27px;
  font-weight: 700;
  text-align: center;
}
.note{
  background-color: #f5f5f5;
  border-left: 4px solid #6666cc;
  border-radius: 2px 0 0 2px;
  padding: 10px 15px 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.attention {
  padding: 10px 15px 10px;
  border: 2px solid #666699;
  border-radius: 4px;
  box-shadow: 0 1px 15px rgb(0 0 0 / 10%);
  margin-bottom: 20px;
  margin-top: 20px;
  
}


blockquote {
  font-size: 1.1em;
  line-height: 1.6em;
  padding: 14px 14px 14px;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 4px;
  background: #fff9cd;
  box-shadow: 0 1px 15px rgb(0 0 0 / 10%);
  margin-bottom: 20px;
  margin-top: 20px;
}
.img{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  
}




@media screen and (max-width: 900px){
  .img_logo{
    /* max-width: 60%;*/
     margin-top: 5px;
     margin-bottom: 5px;
     max-width: 200px;
     
     
 }
}




@media screen and (max-width: 500px) {
  .content{
    margin-left: 1vh;
    margin-right: 1vh;
  }
.img_logo{
    max-width: 80%;
}

.yout_1{
  visibility: hidden;
    display: none;
}

.yout_2{
  display: block;
}

.content{
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
  
.container {
    
    margin: 0 auto;
    margin-right: 20px;
    margin-left: 20px;
  grid-template-areas: 
                       "a1"
                       "a2"
                       "a3"
                       ;
}
}

/*@media only screen and (max-width: 600px) {
.img_logo{
    max-width: 80%;
}

.content{
  margin-left: 1vh;
  margin-right: 1vh;
}
  
.container {
    
    margin: 0 auto;
    margin-right: 20px;
    margin-left: 20px;
  grid-template-areas: 
                       "a1"
                       "a2"
                       "a3"
                       ;
}
}*/